{% extends 'base.html' %}
{% block content %}
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOME</th>
            <th>CPF</th>
            <th>TELEFONE</th>
            <th>ENDEREÇO</th>
            <th>DESCRIÇÃO</th>
            <th>AÇÕES</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>{{ vendedor.id }}</td>
                <td>{{ vendedor.nome }}</td>
                <td>{{ vendedor.cpf }}</td>
                <td>{{ vendedor.telefone }}</td>
                <td>{{ vendedor.endereco }}</td>
                <td>{{ vendedor.descricao }}</td>
                <td>
                    <a href="/vendedor/deleta/{{ vendedor.id }}">X</a>
                    <a href="/vendedor/edit/{{ vendedor.id }}" class="botao-editar">Editar</a>
                </td>
            </tr>
    </tbody>
</table>
{% endblock %}

{% block extra_content %}
<a href='/vendedor/' class="botoes">Adicionar</a>
{% endblock %}
